
.menu, ul, li{
    display: flex;
    padding: 10px;   
}

.sub-menu{
    position: absolute;
    padding: 0;
    top: 40px;
    right: -12px;        
}


.ul,li{
    border: 2px solid black;
    margin: 10px;
    width: 100px;
    
}
.sub-menu, .sub-item :hover{
    display: none;    
}

li:hover .sub-menu {
    display: block;    
}

li{
    text-align: center;    
    flex-direction: column;
    justify-items: center;
    position: relative;
}
